In [1]:
import pandas as pd

In [37]:
dress_att=pd.read_csv('E:\Data Science\Datasets\Attribute+DataSet.csv')
dress_sales=pd.read_csv('E:\Data Science\Datasets\Dress+Sales.csv')

In [8]:
dress_att['Size'][478]

'free'

In [43]:
dress_att

,Dress_ID,Style,Price,Rating,Size,Season,NeckLine,SleeveLength,Material,FabricType,Decoration,Pattern Type,Recommendation
0,1006032852,Sexy,Low,4.6,M,Summer,o-neck,sleevless,NaN,chiffon,ruffles,animal,1
1,1212192089,Casual,Low,0.0,L,Summer,o-neck,Petal,microfiber,NaN,ruffles,animal,0
2,1190380701,vintage,High,0.0,L,Automn,o-neck,full,polyster,NaN,NaN,print,0
3,966005983,Brief,Average,4.6,L,Spring,o-neck,full,silk,chiffon,embroidary,print,1
4,876339541,cute,Low,4.5,M,Summer,o-neck,butterfly,chiffonfabric,chiffon,bow,dot,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
474,990559192,Brief,Average,4.7,M,winter,o-neck,halfsleeve,acrylic,chiffon,NaN,striped,0
475,713391965,Casual,Low,4.7,M,Spring,o-neck,full,polyster,NaN,NaN,solid,1
476,532874347,Casual,Average,4.7,M,Summer,v-neck,full,cotton,NaN,lace,solid,1
477,655464934,Casual,Average,4.6,L,winter,boat-neck,sleevless,silk,broadcloth,applique,print,1
478,919930954,Casual,Low,4.4,free,Summer,v-neck,short,cotton,Corduroy,lace,solid,0

In [7]:
dress_sales

,Dress_ID,29-08-2013,31-08-2013,09-02-2013,09-04-2013,09-06-2013,09-08-2013,09-10-2013,09-12-2013,14-09-2013,...,24-09-2013,26-09-2013,28-09-2013,30-09-2013,10-02-2013,10-04-2013,10-06-2013,10-08-2013,10-10-2013,10-12-2013
0,1.006033e+09,2114,2274,2491,2660,2727,2887,2930,3119,3204,...,3554,3624.0,3706,3746.0,3795.0,3832.0,3897,3923.0,3985.0,4048
1,1.212192e+09,151,275,570,750,813,1066,1164,1558,1756,...,2710,2942.0,3258,3354.0,3475.0,3654.0,3911,4024.0,4125.0,4277
2,1.190381e+09,6,7,7,7,8,8,9,10,10,...,11,11.0,11,11.0,11.0,11.0,11,11.0,11.0,11
3,9.660060e+08,1005,1128,1326,1455,1507,1621,1637,1723,1746,...,1878,1892.0,1914,1924.0,1929.0,1941.0,1952,1955.0,1959.0,1963
4,8.763395e+08,996,1175,1304,1396,1432,1559,1570,1638,1655,...,2032,2156.0,2252,2312.0,2387.0,2459.0,2544,2614.0,2693.0,2736
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
474,9.905592e+08,0,0,0,60,62,64,65,67,68,...,73,74.0,75,75.0,76.0,76.0,77,77.0,77.0,77
475,7.133920e+08,0,0,0,560,554,544,537,525,519,...,400,388.0,360,364.0,372.0,377.0,380,382.0,384.0,285
476,5.328743e+08,0,0,0,734,728,726,715,694,690,...,616,597.0,586,569.0,561.0,555.0,551,546.0,535.0,520
477,6.554649e+08,0,0,0,254,259,261,263,268,270,...,257,256.0,255,254.0,253.0,250.0,249,249.0,249.0,248
478,9.199310e+08,0,0,0,538,545,558,563,578,585,...,628,632.0,639,645.0,651.0,655.0,660,668.0,674.0,680

In [44]:

# Calculate the percentage of null values column-wise
null_percentage = (dress_att.isnull().sum() / len(dress_att)) * 100
# Print the result
print(null_percentage)

Dress_ID           0.000000
Style              0.000000
Price              0.417537
Rating             0.000000
Size               0.000000
Season             0.417537
NeckLine           0.626305
SleeveLength       0.417537
Material          24.843424
FabricType        53.444676
Decoration        46.764092
Pattern Type      21.294363
Recommendation     0.000000
dtype: float64

In [42]:
dress_att.isnull().sum()

Dress_ID            0
Style               0
Price               2
Rating              0
Size                0
Season              2
NeckLine            3
SleeveLength        2
Material          119
FabricType        256
Decoration        224
Pattern Type      102
Recommendation      0
dtype: int64

In [10]:
data = {
    'Item': ['Item1', 'Item2', 'Item3'],
    '2023-06-15': [100, 200, 150],
    '2023-09-20': [80, 180, 120],
    '2023-12-10': [60, 160, 110],
    '2023-03-05': [90, 190, 140],
    '2023-07-30': [110, 210, 160]
}

df = pd.DataFrame(data)

# Convert column names (dates) to datetime objects
df.columns = pd.to_datetime(df.columns)

# Define a function to categorize dates into seasons
def categorize_season(date):
    month = date.month
    if 6 <= month <= 8:
        return 'Summer'
    elif 9 <= month <= 11:
        return 'Autumn'
    elif 12 <= month or month <= 2:
        return 'Winter'
    else:
        return 'Spring'

# Apply the categorize_season function to column names to obtain seasons
seasons = [categorize_season(date) for date in df.columns]

# Add a "Season" column to the DataFrame
df['Season'] = seasons

# Print the updated DataFrame
print(df)

ParserError: Unknown string format: Item present at position 0

In [17]:
data = {
    'Item': ['Item1', 'Item2', 'Item3'],
    '2023-06-15': [100, 200, 150],
    '2023-09-20': [80, 180, 120],
    '2023-12-10': [60, 160, 110],
    '2023-03-05': [90, 190, 140],
    '2023-07-30': [110, 210, 160]
}

df = pd.DataFrame(data)
date_columns = [col for col in df.columns if col != 'Item']
df[date_columns] = df[date_columns].apply(pd.to_datetime)
#df.columns = pd.to_datetime(df.columns)
df

,Item,2023-06-15,2023-09-20,2023-12-10,2023-03-05,2023-07-30
0,Item1,1970-01-01 00:00:00.000000100,1970-01-01 00:00:00.000000080,1970-01-01 00:00:00.000000060,1970-01-01 00:00:00.000000090,1970-01-01 00:00:00.000000110
1,Item2,1970-01-01 00:00:00.000000200,1970-01-01 00:00:00.000000180,1970-01-01 00:00:00.000000160,1970-01-01 00:00:00.000000190,1970-01-01 00:00:00.000000210
2,Item3,1970-01-01 00:00:00.000000150,1970-01-01 00:00:00.000000120,1970-01-01 00:00:00.000000110,1970-01-01 00:00:00.000000140,1970-01-01 00:00:00.000000160

In [14]:
data = {
    'Item': ['Item1', 'Item2', 'Item3'],
    '2023-06-15': [100, 200, 150],
    '2023-09-20': [80, 180, 120],
    '2023-12-10': [60, 160, 110],
    '2023-03-05': [90, 190, 140],
    '2023-07-30': [110, 210, 160]
}
df = pd.DataFrame(data)
df

    Item  2023-06-15  2023-09-20  2023-12-10  2023-03-05  2023-07-30
0  Item1         100          80          60          90         110
1  Item2         200         180         160         190         210
2  Item3         150         120         110         140         160

In [18]:
dress_sales

,Dress_ID,29-08-2013,31-08-2013,09-02-2013,09-04-2013,09-06-2013,09-08-2013,09-10-2013,09-12-2013,14-09-2013,...,24-09-2013,26-09-2013,28-09-2013,30-09-2013,10-02-2013,10-04-2013,10-06-2013,10-08-2013,10-10-2013,10-12-2013
0,1.006033e+09,2114,2274,2491,2660,2727,2887,2930,3119,3204,...,3554,3624.0,3706,3746.0,3795.0,3832.0,3897,3923.0,3985.0,4048
1,1.212192e+09,151,275,570,750,813,1066,1164,1558,1756,...,2710,2942.0,3258,3354.0,3475.0,3654.0,3911,4024.0,4125.0,4277
2,1.190381e+09,6,7,7,7,8,8,9,10,10,...,11,11.0,11,11.0,11.0,11.0,11,11.0,11.0,11
3,9.660060e+08,1005,1128,1326,1455,1507,1621,1637,1723,1746,...,1878,1892.0,1914,1924.0,1929.0,1941.0,1952,1955.0,1959.0,1963
4,8.763395e+08,996,1175,1304,1396,1432,1559,1570,1638,1655,...,2032,2156.0,2252,2312.0,2387.0,2459.0,2544,2614.0,2693.0,2736
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
474,9.905592e+08,0,0,0,60,62,64,65,67,68,...,73,74.0,75,75.0,76.0,76.0,77,77.0,77.0,77
475,7.133920e+08,0,0,0,560,554,544,537,525,519,...,400,388.0,360,364.0,372.0,377.0,380,382.0,384.0,285
476,5.328743e+08,0,0,0,734,728,726,715,694,690,...,616,597.0,586,569.0,561.0,555.0,551,546.0,535.0,520
477,6.554649e+08,0,0,0,254,259,261,263,268,270,...,257,256.0,255,254.0,253.0,250.0,249,249.0,249.0,248
478,9.199310e+08,0,0,0,538,545,558,563,578,585,...,628,632.0,639,645.0,651.0,655.0,660,668.0,674.0,680

In [19]:
dress_sales['Spring'] = dress_sales.apply(lambda x: x['09-04-2013'], axis=1)
dress_sales

,Dress_ID,29-08-2013,31-08-2013,09-02-2013,09-04-2013,09-06-2013,09-08-2013,09-10-2013,09-12-2013,14-09-2013,...,26-09-2013,28-09-2013,30-09-2013,10-02-2013,10-04-2013,10-06-2013,10-08-2013,10-10-2013,10-12-2013,Spring
0,1.006033e+09,2114,2274,2491,2660,2727,2887,2930,3119,3204,...,3624.0,3706,3746.0,3795.0,3832.0,3897,3923.0,3985.0,4048,2660
1,1.212192e+09,151,275,570,750,813,1066,1164,1558,1756,...,2942.0,3258,3354.0,3475.0,3654.0,3911,4024.0,4125.0,4277,750
2,1.190381e+09,6,7,7,7,8,8,9,10,10,...,11.0,11,11.0,11.0,11.0,11,11.0,11.0,11,7
3,9.660060e+08,1005,1128,1326,1455,1507,1621,1637,1723,1746,...,1892.0,1914,1924.0,1929.0,1941.0,1952,1955.0,1959.0,1963,1455
4,8.763395e+08,996,1175,1304,1396,1432,1559,1570,1638,1655,...,2156.0,2252,2312.0,2387.0,2459.0,2544,2614.0,2693.0,2736,1396
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
474,9.905592e+08,0,0,0,60,62,64,65,67,68,...,74.0,75,75.0,76.0,76.0,77,77.0,77.0,77,60
475,7.133920e+08,0,0,0,560,554,544,537,525,519,...,388.0,360,364.0,372.0,377.0,380,382.0,384.0,285,560
476,5.328743e+08,0,0,0,734,728,726,715,694,690,...,597.0,586,569.0,561.0,555.0,551,546.0,535.0,520,734
477,6.554649e+08,0,0,0,254,259,261,263,268,270,...,256.0,255,254.0,253.0,250.0,249,249.0,249.0,248,254
478,9.199310e+08,0,0,0,538,545,558,563,578,585,...,632.0,639,645.0,651.0,655.0,660,668.0,674.0,680,538

In [27]:
dress_sales['Summer'] = dress_sales.apply(lambda x: x['29-08-2013'] + x['31-08-2013']+ x['09-06-2013']+ x['09-08-2013']+ x['10-06-2013'], axis=1)
dress_sales

,Dress_ID,29-08-2013,31-08-2013,09-02-2013,09-04-2013,09-06-2013,09-08-2013,09-10-2013,09-12-2013,14-09-2013,...,28-09-2013,30-09-2013,10-02-2013,10-04-2013,10-06-2013,10-08-2013,10-10-2013,10-12-2013,Spring,Summer
0,1.006033e+09,2114,2274,2491,2660,2727,2887,2930,3119,3204,...,3706,3746.0,3795.0,3832.0,3897,3923.0,3985.0,4048,2660,13899
1,1.212192e+09,151,275,570,750,813,1066,1164,1558,1756,...,3258,3354.0,3475.0,3654.0,3911,4024.0,4125.0,4277,750,6216
2,1.190381e+09,6,7,7,7,8,8,9,10,10,...,11,11.0,11.0,11.0,11,11.0,11.0,11,7,40
3,9.660060e+08,1005,1128,1326,1455,1507,1621,1637,1723,1746,...,1914,1924.0,1929.0,1941.0,1952,1955.0,1959.0,1963,1455,7213
4,8.763395e+08,996,1175,1304,1396,1432,1559,1570,1638,1655,...,2252,2312.0,2387.0,2459.0,2544,2614.0,2693.0,2736,1396,7706
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
474,9.905592e+08,0,0,0,60,62,64,65,67,68,...,75,75.0,76.0,76.0,77,77.0,77.0,77,60,203
475,7.133920e+08,0,0,0,560,554,544,537,525,519,...,360,364.0,372.0,377.0,380,382.0,384.0,285,560,1478
476,5.328743e+08,0,0,0,734,728,726,715,694,690,...,586,569.0,561.0,555.0,551,546.0,535.0,520,734,2005
477,6.554649e+08,0,0,0,254,259,261,263,268,270,...,255,254.0,253.0,250.0,249,249.0,249.0,248,254,769
478,9.199310e+08,0,0,0,538,545,558,563,578,585,...,639,645.0,651.0,655.0,660,668.0,674.0,680,538,1763

In [35]:
dress_sales['Autumn'] = dress_sales.apply(lambda x: x['09-10-2013'] + x['14-09-2013'], axis=1)
dress_sales

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [22]:
dress_sales

,Dress_ID,29-08-2013,31-08-2013,09-02-2013,09-04-2013,09-06-2013,09-08-2013,09-10-2013,09-12-2013,14-09-2013,...,28-09-2013,30-09-2013,10-02-2013,10-04-2013,10-06-2013,10-08-2013,10-10-2013,10-12-2013,Spring,Summer
0,1.006033e+09,2114,2274,2491,2660,2727,2887,2930,3119,3204,...,3706,3746.0,3795.0,3832.0,3897,3923.0,3985.0,4048,2660,13899
1,1.212192e+09,151,275,570,750,813,1066,1164,1558,1756,...,3258,3354.0,3475.0,3654.0,3911,4024.0,4125.0,4277,750,6216
2,1.190381e+09,6,7,7,7,8,8,9,10,10,...,11,11.0,11.0,11.0,11,11.0,11.0,11,7,40
3,9.660060e+08,1005,1128,1326,1455,1507,1621,1637,1723,1746,...,1914,1924.0,1929.0,1941.0,1952,1955.0,1959.0,1963,1455,7213
4,8.763395e+08,996,1175,1304,1396,1432,1559,1570,1638,1655,...,2252,2312.0,2387.0,2459.0,2544,2614.0,2693.0,2736,1396,7706
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
474,9.905592e+08,0,0,0,60,62,64,65,67,68,...,75,75.0,76.0,76.0,77,77.0,77.0,77,60,203
475,7.133920e+08,0,0,0,560,554,544,537,525,519,...,360,364.0,372.0,377.0,380,382.0,384.0,285,560,1478
476,5.328743e+08,0,0,0,734,728,726,715,694,690,...,586,569.0,561.0,555.0,551,546.0,535.0,520,734,2005
477,6.554649e+08,0,0,0,254,259,261,263,268,270,...,255,254.0,253.0,250.0,249,249.0,249.0,248,254,769
478,9.199310e+08,0,0,0,538,545,558,563,578,585,...,639,645.0,651.0,655.0,660,668.0,674.0,680,538,1763

In [26]:
dress_sales.columns

Index(['Dress_ID', '29-08-2013', '31-08-2013', '09-02-2013', '09-04-2013',
       '09-06-2013', '09-08-2013', '09-10-2013', '09-12-2013', '14-09-2013',
       '16-09-2013', '18-09-2013', '20-09-2013', '22-09-2013', '24-09-2013',
       '26-09-2013', '28-09-2013', '30-09-2013', '10-02-2013', '10-04-2013',
       '10-06-2013', '10-08-2013', '10-10-2013', '10-12-2013', 'Spring',
       'Summer'],
      dtype='object')